.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/monthly-emojis-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.card-container {
  height: auto;
  width: 797px;
  max-width: 95%;
  border-radius: 40px;
  background-color: #72687536;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
}

.heading-login {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  max-width: 360px;
  margin-bottom: 16px;
}

.label {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 6px;
}

.input-field {
  border: 0.5px solid #ffffff;
  border-radius: 16px;
  background-color: #72687536;
  height: 36px;
  padding: 6px 10px;
  font-size: 12px;
  color: #ffffff;
}

.input-field::placeholder {
  color: #5c5a5a;
  font-size: 10px;
}

.show-password-container {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.showpassword-label {
  color: #ffffff;
  font-size: 12px;
  margin-left: 6px;
}

.login-button {
  width: 100%;
  max-width: 360px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 12px;
}

/* Extra small devices */
@media (max-width: 480px) {
  .card-container {
    padding: 20px;
    border-radius: 27.2px;
    width: 312px;
    height: 420px;
  }

  .heading-login {
    font-size: 24px;
    color: ffffff;
  }

  .label {
    font-size: 13px;
  }

  .input-field {
    font-size: 12px;
    height: 34px;
    padding: 6px 8px;
    background-color: #5c5a5a;
  }

  .showpassword-label {
    font-size: 12px;
  }

  .login-button {
    font-size: 14px;
    height: 38px;
  }

  .error-message {
    font-size: 12px;
  }

  .label-input-container {
    width: 280px;
    height: 64px;
  }
}

/* Small tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .card-container {
    padding: 28px;
    width: 90%;
    border-radius: 28px;
  }

  .heading-login {
    font-size: 26px;
    color: #ffffff;
  }

  .label {
    font-size: 14px;
  }

  .input-field {
    font-size: 13px;
    height: 36px;
  }

  .login-button {
    font-size: 15px;
    height: 40px;
  }
}

/* Medium devices */
@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    width: 75%;
    padding: 32px;
  }

  .heading-login {
    font-size: 30px;
    color: white;
  }

  .input-field {
    font-size: 14px;
  }

  .login-button {
    font-size: 15px;
  }
}

/* Keep border same on focus/click */
.input-field:focus,
.input-field:active {
  outline: none;
  border-color: #ffffff;
  box-shadow: none;
  color: #ffffff;
}

/* Prevent browser autofill background change */
.input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #72687536 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
