.main-container-calender {
  background-color: #3c3c4e;
  border-radius: 20px;
  padding: 30px 24px;
  width: fit-content;
  margin: 0 auto;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  flex-wrap:wrap;
  
}

.arrow-month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.arrow-button {
  background: transparent;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  flex-wrap: wrap;
}

.heading-calender {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  flex-wrap: wrap;
}

.weeks-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-wrap: wrap;
}

.weeks-unorder-list,
.days-unorder-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  flex-wrap: wrap;
}

.week-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #dcdcdc;
  flex-wrap: wrap;
}

.day-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2e42;
  border: 2px solid #8192a9;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  height: 52px;
  width: 52px;
  margin: 0 auto;
  position: relative;
  transition: 0.3s ease;
  flex-wrap: wrap;
}

.day-name:hover {
  background-color: #4c4c64;
  cursor: pointer;
}

.date {
  margin: 0;
  height: 28px;
  width: 30px;
  padding-left: 2px;
}

.date-image {
  position: absolute;
  bottom: 4px;
  width: 15px;
  height: 15px;
  flex-wrap: wrap;
}
